
            body {
                margin: 0px;
                font-family: "Old-English-Text-MT";
            }
            .container {
                width: 700px;
                height: 600px;
                border: 4px solid black;
                background-color :aliceblue;
                margin: 0px;
            }
            .head {
                width: 100%;
                height: 25px;
                position: relative;
                color: black;
                border-bottom: 5px solid black;
                font-size: 20px;
                font-family: "Old English Text MT";
            }
            
            .red-green {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: aliceblue;
                
                
            
            }
            .red-box {
                background-color:#78286B;
                width: 210px;
                height: 100px;
                margin: 20px;
                border: 4px solid black;
            }
            
            .green-box {
                background-color:#395100;
                width: 360px;
                height: 100px;
                margin: 20px;
                border: 4px solid black;
                
            }
            .blue {
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: aliceblue;
                
            
            }
            .blue-box {
                background-color:#0058A7;
                width: 90%;
                height: 100px;
                border: 4px solid black;
                
                
            }