body {
    background-color: #253477;
    font-family: 'Reem Kufi';
    padding: 0px;   
    margin: 0px;    
    line-height: 1.3;
    font-size: 1em;
}

#wrap {
    margin: 1em 5%; 
    background-color: #4e62bc;
    background-image: url(download.png);
    background-repeat: repeat-y;
    background-position: 30% 0;
}

#nav {
    float: left;
    margin-left: 5%;
    width: 15%;
    padding: 2em 0em 2em 0em;
    background-color:#7988cd;
    text-align: justify;

}

#nav > ul > li {
    list-style-position:inside;
}       

h2 {
    text-align: center;
}

#content {
    float:left;
    width: 60%;
    background-color:#4e62bc;
    text-align: center;
}

h1 {
    text-align: center;
}

#content > ul > li {
    list-style-type: none;
    text-align: center;
}     

.copyright {
    clear: both;
}*/