* {
    font-family: 'Poppins', sans-serif
}
body {
    margin: 10px;
}
span {
    background-color: yellow;
}
ol {
    list-style-type: lower-roman;
}
.media {
    text-align: center;
}
.cat-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 2px solid black;
}
.red-text {
    text-align: center;
    color: red;
    border: 3px solid red;
}
table, tr, th, td {
    border: 2px solid black;
}
.lion-img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 2px solid red;
} 
