* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;

}
#navbar {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: black;
    color: white;
    
}
.icon {
    margin: 10px 0 0 30px;
}
#navbar ul {
    display: flex;
    list-style: none;
}
#navbar ul > li {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
#page-text {
    position: absolute;
    left: 50px;
    bottom: 80px;
    width: 40%;
    font-weight: bold;
    color: #cfb6b6;
    padding: 30px;
    
}
h1 {
    font-size: 50px;
}
footer {
    display: flex;
    color: #cfb6b6;  
    width: 32%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;;
    height:110px;
    flex-direction: column;
    font-weight: bold;
    position: fixed;
    bottom: 10px;;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); 
}
footer p {
    text-align: center;
}
.footer-nav {
    display: flex;
    
    justify-content: center;
}
.footer-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none; 
}
.footer-nav ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.li-div {
    margin: 0px 10px 200px 10px;
}
.nav-icon {
    display: flex;
    justify-content: center;
}
